header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background-color: var(--smooth-orange);
}

header a {
    font-size: 23px;
    color: var(--soft-white);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--soft-white);
    /* width: max-content; */
}

.active {
    font-weight: 900;
    text-decoration: underline !important;
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: center;
    }
}