/* Réinitialisation des styles */

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: rgb(199, 199, 199);
}

a {
    font-size: 1.5em;
}

header {
    background-color: rgb(76 76 76);
    align-items: center;
    padding: 5px 20px;
}


/* Styles du menu burger */

.burger-icon {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.bar {
    display: block;
    width: 3em;
    height: 0.3em;
    background-color: rgb(199, 199, 199);
    margin: 0.7em 0;
    transition: background-color 0.3s, transform 0.3s;
}

#burger-checkbox:checked~.burger-icon .bar:nth-child(2) {
    opacity: 0;
}

#burger-checkbox:checked~.burger-icon .bar:nth-child(1) {
    transform: translateY(1em) rotate(45deg);
}

#burger-checkbox:checked~.burger-icon .bar:nth-child(3) {
    transform: translateY(-1em) rotate(-45deg);
}


/* Animation du menu burger */

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked~.menu {
    /* max-width: 100%; */
    max-height: 320px;
}

.menu {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 110px;
    /* top: 0; */
    /* max-width: 0; */
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu ul {
    list-style-type: none;
    background-color: rgb(199, 199, 199);
    padding: 5px 20px;
    text-align: end;
    /* height: 100%; */
    /* display: block; */
    /* width: max-content; */
}

.menu ul li {
    padding: 10px;
    white-space: nowrap;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


/* Style supplémentaire */