<header>
    <h1 class="pl-3">CESI'quipage</h1>
    <div class="links flex-row justify-content-center p-3">
        <a routerLink="/home" class="px-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/houses" class="px-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Houses</a>
        <a routerLink="/challenges" class="px-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Challenges</a>
        <a routerLink="/admin" class="px-3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
    </div>
</header>