<app-alert #dangerAlert [alertType]="'danger'"></app-alert>

<div class="flex-container m-5">
    <div class="card">
        <div class="card-title">
            <h2>Login</h2>
        </div>

        <form [formGroup]="loginForm">
            <div class="form-group card-content P-4">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username">
            </div>
            <div class="form-group card-content P-4">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password">
            </div>

            <div class="card-footer p-2">
                <button type="button" [ngClass]="{'btn-disabled': !loginForm.valid}" (click)="onSubmitForm()" class="primary-button">Login</button>
                <button type="button" (click)="register()" class="secondary-button">Sign in</button>
            </div>
        </form>
        <div class="result">
            <div *ngIf="process" class="loader"></div>
        </div>
    </div>
</div>