<app-back-button></app-back-button>

<div class="flex-column justify-content-start align-items-center">
    <h1>House details</h1>

    <div class="flex-container">
        <div class="card" *ngIf="house$ | async as house else loading">
            <div class="card-title">
                <h2>{{house.title}}</h2>
                <h2>|</h2>
                <h2>{{house.score}} pts</h2>
            </div>
            <div class="card-content">
                <p>{{house.description}}</p>
            </div>
        </div>

        <ng-template #loading>
            <div class="loader center"></div>
            <p>Loading...</p>
        </ng-template>
    </div>
</div>