<app-back-button></app-back-button>

<div class="flex-container m-5">
    <div class="card">
        <div class="card-title">
            <h2>Update house</h2>
        </div>

        <form [formGroup]="updateHouseForm">
            <div class="form-group card-content P-3">
                <div class="flex-column">
                    <label for="imageInput" class="custom-file-upload">Select an image</label>

                    <input type="file" id="imageInput" (change)="onFileSelected($event)" accept="image/*" title="&nbsp;" formControlName="houseImg">
                    <!--multiple-->
                    <div class="image-container">
                        <img *ngFor="let image of selectedImages" [src]="image" alt="Selected Image">
                    </div>
                </div>
            </div>
            <div class="form-group card-content P-3">
                <label for="houseName">House</label>
                <input type="text" id="houseName" formControlName="title" maxlength="50">
            </div>
            <div class="form-group card-content P-3">
                <label for="houseScore">Score</label>
                <input type="number" id="houseScore" formControlName="score" min="1" max="99999">
            </div>
            <div class="form-group card-content P-3">
                <label for="houseDescription">Description</label>
                <input type="text" id="houseDescription" formControlName="description" maxlength="150">
            </div>

            <div class="card-footer p-2">
                <button type="button" class="primary-button" [ngClass]="{'btn-disabled': !updateHouseForm.valid}" (click)="onSubmitForm()">Update</button>
            </div>
        </form>
        <div class="result">
            <!-- {{response | titlecase}} -->
            <div *ngIf="process" class="loader"></div>
        </div>
    </div>
</div>