<app-back-button></app-back-button>

<div class="main gap-10 m-3" style="flex-wrap: nowrap; overflow-x: auto;">
    <div class="list-card gap-10">
        <div class="card" *ngFor="let proof of proofList$ | async" style="max-width: none; width: 250px;">
            <div class="card-title">
                <h4>{{ proof.challengeTitle }}</h4>
                <h4>|</h4>
                <h4>{{ proof.dateProof | date:'dd/MM/yyyy, hh:mm:ss' }}</h4>
            </div>
            <div class="card-content">
                <p>From : {{ proof.challengerName }} ({{ proof.houseTitle }})</p>
            </div>
        </div>
    </div>
    <div class="card detail-proof" style="display:bloc; width: 100%">
        <div class="card-title">
            <h2>Title</h2>
        </div>
        <div class="card-content">
            <p>DATA</p>
        </div>
        <div class="card-footer">
            <button class="secondary-button">Accept</button>
            <button class="danger-button">Reject</button>
        </div>
    </div>
</div>