<app-back-button></app-back-button>

<h1>Proofs</h1>
<div class="main m-3">
    <div class="card list-card">
        <div class="card" *ngFor="let proof of proofList$ | async" (click)="selectProof(proof)" [ngClass]="{'selected-proof':isProofSelected(proof)}">
            <div class="card-title flex-column justify-content-start align-items-center">
                <h4 class="m-1">{{ proof.challengeTitle }}</h4>
                <!-- <h4>|</h4> -->
                <h4 class="m-1">{{ proof.dateProof | date:'dd/MM/yyyy - hh:mm:ss' }}</h4>
            </div>
            <p class="p-2">From : {{ proof.challengerName }} ({{ proof.houseTitle }})</p>
        </div>
    </div>
    <div class="card detail-proof">
        <div class="card-title" *ngIf="proofSelected; else noData">
            <h2>{{ proofSelected.dateProof | date:'dd/MM/yyyy - hh:mm:ss' }} : <span class="info-key pointer" [routerLink]="'/challenges/'+proofSelected.idChallenge">{{ proofSelected.challengeTitle }}</span></h2>
            <!-- <h2 [routerLink]="'challenges/'+proofSelected.idChallenge">{{ proofSelected.challengeTitle }}</h2> -->
        </div>

        <ng-template #noData>
            <div class="card-title">
                <h2>No proof selected...</h2>
            </div>
        </ng-template>

        <div class="card-content proof-content" *ngIf="proofSelected">
            <div class="flex-row justify-content-between">
                <h3>From : <span class="info-key">{{ proofSelected.challengerName }}</span></h3>
                <h3>House : <span class="info-key pointer" [routerLink]="'/houses/'+proofSelected.idHouse">{{ proofSelected.houseTitle }}</span></h3>
            </div>
            <img id="proof-img" [src]="domainName+'/proofs-img/'+proofSelected.proofImg" alt="">
            <p class="p-2 description">Description : {{ proofSelected.description }}</p>
        </div>
        <div class="card-footer">
            <button class="secondary-button">Accept</button>
            <button class="danger-button">Reject</button>
        </div>
    </div>
</div>