/* .detail-proof {
    width: max-content;
} */

.main {
    --width-card-container: 270px;
    --width-card: 230px;
    --height-card-container: 160px;
    --height-card: 120px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 500px;
}

.selected-proof {
    border: 3px #949494 solid;
}

.card {
    max-width: auto;
    width: auto;
}

.list-card {
    flex: 1 0 var(--width-card-container);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 10px;
}

.list-card .card {
    margin-top: 14px;
    margin-inline: auto;
    width: var(--width-card);
    height: var(--height-card);
    flex-shrink: 0;
    cursor: pointer;
}

.detail-proof {
    flex: 99999;
}

@media (max-width: 750px) {
    .main {
        flex-direction: column;
    }
    .list-card {
        flex: 1 0 var(--height-card-container);
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .list-card .card {
        margin-left: 14px;
        margin-block: auto;
        width: var(--width-card);
        height: var(--height-card);
    }
    .detail-proof {
        flex: 99999 1;
    }
}

.proof-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

#proof-img {
    width: 50%;
}

.info-key {
    font-weight: bold;
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.description {
    background-color: var(--grey);
}