<app-back-button></app-back-button>

<div class="flex-column m-5 align-items-center">
    <h1>Send proof</h1>
    <div class="card">
        <div class="card-title">
            <h2 *ngIf="(challenge$ | async) as challenge">{{ challenge.title }}</h2>
        </div>
        <form [formGroup]="createProofForm">
            <div class="form-group card-content P-4">
                <div class="flex-column">
                    <label for="imageInput" class="custom-file-upload">Select an image</label>

                    <input type="file" id="imageInput" (change)="onFileSelected($event)" accept="image/*" title="&nbsp;" formControlName="proofImg">
                    <!--multiple-->
                    <div class="image-container" [style.max-height.px]="maxHeight">
                        <img *ngFor="let image of selectedImages" [src]="image" alt="Selected Image">
                    </div>
                </div>
            </div>
            <div class="form-group card-content P-4">
                <label for="proofDescription">Description</label>
                <input type="text" id="proofDescription" formControlName="description">
            </div>
            <div class="form-group card-content P-4">
                <label for="challengerName">Username</label>
                <input type="text" id="challengerName" formControlName="challengerName">
            </div>
            <div class="form-group card-content P-4">
                <label for="house">House</label>
                <select name="house" (change)="onHouseChange($event)">
                <option value="default" selected disabled>Sélectionnez une maison</option>
                <option *ngFor="let house of houseList$ | async" [value]="house.idHouse">{{ house.title }}</option>
            </select>
            </div>

            <div class="card-footer p-2">
                <button type="button" class="primary-button" [ngClass]="{'btn-disabled': !createProofForm.valid}" (click)="onSubmitForm()">Send Proof</button>
            </div>
        </form>
        <div class="result">
            <!-- {{response | titlecase}} -->
            <div *ngIf="process" class="loader"></div>
        </div>
    </div>
</div>