<div class="flex-column justify-content-start align-items-center">
    <h1>Challenge'list</h1>
    <div class="flex-row justify-content-center">
        <div class="card" *ngFor="let challenge of challengeList$ | async">
            <h2>{{challenge.title}}</h2>
            <p>{{challenge.description}}</p>
            <p>Récompense : {{challenge.award}}</p>
            <p>Date d'expiration : {{challenge.expiration | date:'M/d/yy, h:mm a'}}</p>
            <div class="flex-row justify-content-between">
                <button class="view-button" (click)="getChallengeByID(challenge.idChallenge)">View</button>
                <div *ngIf="isAdmin">
                    <div class="flex-row">
                        <button class="update-button" (click)="updateChallenge(challenge.idChallenge)">Update</button>
                        <button class="delete-button">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="challengeList$ | async else loading"></div>

        <ng-template #loading>
            <div class="loader"></div>
            <p>Loading...</p>
        </ng-template>
    </div>
</div>