<div class="flex-column justify-content-start align-items-center">
    <div class="flex-row justify-content-center">
        <h1 class="px-4">Challenges</h1>
        <button *ngIf="isAdmin" class="add-button px-3" (click)="addChallenge()">+</button>
        <button *ngIf="isAdmin" class="primary-button px-3" (click)="checkProofs()">Check proofs</button>
    </div>
    <div class="flex-row justify-content-center gap-10">
        <div class="card" *ngFor="let challenge of challengeList$ | async">
            <div class="card-title">
                <h2>{{challenge.title}}</h2>
                <h2>|</h2>
                <h2>{{challenge.award}} pts</h2>
            </div>
            <div class="card-content">
                <p>{{challenge.description}}</p>
            </div>
            <div class="card-footer">
                <p>Expiration : {{challenge.expiration | date:'dd/MM/yyyy, hh:mm'}}</p>
            </div>
            <div class="card-footer p-2">
                <div class="flex-row justify-content-between">
                    <button class="primary-button" (click)="getChallengeByID(challenge.idChallenge)">View</button>
                    <div *ngIf="isAdmin">
                        <div class="flex-row">
                            <button class="secondary-button" (click)="updateChallenge(challenge.idChallenge)">Update</button>
                            <button class="danger-button" (click)="openConfirmationDialog(challenge.idChallenge)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="challengeList$ | async else loading"></div>

    <ng-template #loading>
        <div class="loader"></div>
        <p>Loading...</p>
    </ng-template>
</div>

<app-confirmation-popup #confirmationPopup [textPopup]="'Confirmation de la suppression ?'" (confirmed)="onDeleteConfirmation($event)"></app-confirmation-popup>