<app-back-button></app-back-button>

<div class="flex-container m-5">
    <div class="card">
        <div class="card-title">
            <h1>Update challenge</h1>
        </div>

        <form [formGroup]="updateChallengeForm">
            <div class="form-group card-content P-3">
                <label for="challengeName">Challenge</label>
                <input type="text" id="challengeName" formControlName="title">
            </div>
            <div class="form-group card-content P-3">
                <label for="challengeDescription">Description</label>
                <input type="text" id="challengeDescription" formControlName="description">
            </div>
            <div class="form-group card-content P-3">
                <label for="dateExpiration">Expiration date</label>
                <input type="date" id="dateExpiration" formControlName="expiration">
            </div>
            <div class="form-group card-content P-3">
                <label for="challengeAward">Award</label>
                <input type="number" id="challengeAward" formControlName="award">
            </div>
            <div class="form-group card-content P-3">
                <label for="challengeAward">Success</label>
                <input type="checkbox" id="success" formControlName="success" value="0">
            </div>

            <div class="card-footer p-2">
                <button type="button" class="primary-button" [ngClass]="{'btn-disabled': !updateChallengeForm.valid}" (click)="onSubmitForm()">Update</button>
            </div>
        </form>
        <div class="result">
            <!-- {{response | titlecase}} -->
            <div *ngIf="process" class="loader"></div>
        </div>
    </div>
</div>