button {
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 5px;
}

.primary-button {
    background-color: var(--hard-primary);
    color: var(--soft-white);
    border: 2px solid var(--hard-primary);
}

.primary-button:hover:not(.btn-disabled) {
    background-color: var(--primary);
    color: var(--soft-white);
}

.primary-button:active:not(.btn-disabled) {
    background-color: var(--soft-white);
    color: var(--hard-primary);
}

.secondary-button {
    background-color: var(--hard-secondary);
    color: var(--soft-white);
    border: 2px solid var(--hard-secondary);
}

.secondary-button:hover:not(.btn-disabled) {
    background-color: var(--secondary);
    color: var(--soft-white);
}

.secondary-button:active:not(.btn-disabled) {
    background-color: var(--soft-white);
    color: var(--hard-secondary);
}

.danger-button {
    background-color: var(--hard-danger);
    color: var(--soft-white);
    border: 2px solid var(--hard-danger);
}

.danger-button:hover:not(.btn-disabled) {
    background-color: var(--danger);
    color: var(--soft-white);
}

.danger-button:active:not(.btn-disabled) {
    background-color: var(--soft-white);
    color: var(--hard-danger);
}

.add-button {
    font-size: 30px;
    margin: 10px;
    border-color: var(--soft-white);
    background-color: transparent;
    color: var(--soft-white);
}

.add-button:hover:not(.btn-disabled) {
    background-color: var(--soft-black);
}

.add-button:active:not(.btn-disabled) {
    background-color: var(--soft-white);
    color: var(--medium-black);
}

.btn-disabled {
    opacity: 0.4;
}