@import url(flexTools.css);
@import url(buttonTools.css);
@import url(layout.css);
body {
    margin: 0;
    background-color: #323232;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
a,
label {
    color: rgb(199, 199, 199);
}

hr {
    color: transparent;
    background-color: transparent;
    border: 2px dashed rgb(108, 108, 108);
}


/***/

.card {
    /* width: 100%; */
    display: block;
    border: 4px #949494 solid;
    border-radius: 15px;
    box-shadow: 1px black;
    background-color: rgb(234 234 234);
    padding: 5px;
    margin: 5px;
    max-width: 500px;
}

.card>* {
    /* margin: 5px; */
    padding: 10px 20px;
    color: black;
}

.loader {
    z-index: 1;
    margin: 10px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid blue;
    border-right: 4px solid rgb(207, 207, 207);
    border-bottom: 4px solid red;
    border-left: 4px solid rgb(207, 207, 207);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}