<div class="flex-column justify-content-start align-items-center">
    <div class="flex-row justify-content-center">
        <h1 class="px-4">Houses</h1>
        <button *ngIf="isAdmin" class="add-button px-3" (click)="addHouse()">+</button>
    </div>
    <div class="flex-row justify-content-center gap-10">
        <div class="card" *ngFor="let house of houseList$ | async">
            <div class="card-title">
                <h2>{{house.title}}</h2>
                <h2>|</h2>
                <h2>{{house.score}} pts</h2>
            </div>
            <div class="card-content">
                <p>{{house.description}}</p>
            </div>
            <div class="card-footer p-2">
                <div class="flex-row justify-content-between">
                    <button class="primary-button" (click)="getHouseByID(house.idHouse)">View</button>
                    <div *ngIf="isAdmin">
                        <div class="flex-row">
                            <button class="secondary-button" (click)="updateHouse(house.idHouse)">Update</button>
                            <button class="danger-button" (click)="openConfirmationDialog(house.idHouse)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="houseList$ | async else loading"></div>

    <ng-template #loading>
        <div class="loader"></div>
        <p>Loading...</p>
    </ng-template>
</div>

<app-confirmation-popup #confirmationPopup [textPopup]="'Confirmation de la suppression ?'" (confirmed)="onDeleteConfirmation($event)"></app-confirmation-popup>